@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* outline: none;
    box-sizing: border-box; */
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
section .content {
    text-align: center;
}
section .content h2 {
    font-size: 24vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}
section:nth-child(1) .content h2 {
    background-image: url(../img/fire.jpg);
}
section:nth-child(2) .content h2 {
    background-image: url(../img/water.jpg);
}
section:nth-child(3) .content h2 {
    background-image: url(../img/ice.jpg);
}
section:nth-child(4) .content h2 {
    background-image: url(../img/sand.jpg);
}
section .content p {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
section .content a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin: 20px;
}